* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --headColor: #3c3a39;
  --mainColor: #1c1a19;
  --accentColor1: #fff5e1;
  --accentColor2: #ff6b00;
  --hoverEnabled: #f55800;
  --hoverPressed: #e05304;
  --hoverDisabled: #f4f1f0;
  --hoverDisabledText: #5b5957;
  --iconColor: #dbd8d7;
  --fontColor1: #091e42;
  --fontColor2: #f4f5f7;
  --borderColor1: #8993a4;
  --white: #fff;

  font-family: 'Roboto', 'Crete Round', 'Poppins', 'Inter', sans-serif;
}

.desktop {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

#toolbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background-color: var(--headColor);
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}

#logo {
  color: var(--white);
  font: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

#menu {
  color: var(--white);
}

#headline {
  background-color: var(--mainColor);
  padding: 10.5rem 0.75rem 0 0.75rem;
  background-image: url(./images/background.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 115%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  font-family: 'Crete Round', sans-serif;
  color: var(--accentColor2);
  font-weight: 400;
}

.heading {
  padding: 0 0.75rem 0 0.75rem;
  margin-bottom: 0.75rem;
  text-align: left;
  font-size: 3.5rem;
}

.subheading {
  font-family: 'Roboto', sans-serif;
  color: var(--accentColor1);
  font-size: 1.5rem;
  font-style: normal;
}

.text_content {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  text-align: left;
}

.icon_container {
  display: inline-block;
}

.social_icons {
  list-style: none;
  display: flex;
  align-items: center;
}

.social_icons > li {
  padding: 0.625rem 0.625rem;
}

#my-recent-works {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background: #e5e5e5;
}

.title {
  margin: 0 1.5rem 0 1.5rem;
  text-align: center;
}

#work_title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--mainColor);
}

#divider {
  border-bottom: solid 1px #212121;
  padding-top: 1.65rem;
}

#featured_project {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.btm_margin {
  margin-bottom: 1.5rem;
}

#featured_project_name {
  color: var(--fontColor1);
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

#featured_project_title {
  color: var(--fontColor1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  flex: none;
}

#feat_img_desktop {
  width: 0;
}

.tech_stack {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.tech {
  border: 1px solid var(--borderColor1);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--fontColor1);
  font-size: 0.938rem;
  padding: 0.625rem 0.75rem;
  margin-right: 0.75rem;
}

.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.063rem;
  color: var(--white);
  padding: 0.75rem;
  background: var(--hoverEnabled);
  text-align: center;
}

.btn:hover {
  border: 1px solid var(--hoverEnabled);
  background: var(--accentColor1);
  color: var(--hoverEnabled);
  transition-duration: 0.5s;
}

.btn:active {
  background: var(--hoverPressed);
  color: var(--hoverDisabled);
}

.btn:disabled {
  background: var(--hoverDisabled);
  color: var(--hoverDisabledText);
}

#projects_grid {
  margin: 0 1.5rem;
  display: grid;
  grid-template-columns: auto;
  color: var(--white);
}

.grid_card {
  background-image: url(./images/work_card.svg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 4.5rem 0.813rem 0 0.813rem;
}

.card_text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0.75rem 0.813rem 0 0.813rem;
}

.card_list {
  margin: 0.75rem 0 1.375rem 0.813rem;
}

.card_link {
  color: var(--white);
  background: rgba(255, 255, 255, 0.24);
}

.about_me {
  background-color: var(--mainColor);
  padding: 0 1.5rem;
}

#info {
  padding: 7.5rem 1.5rem 0 1.5rem;
  background-image: url(./images/about_me.svg);
  background-repeat: no-repeat;
  background-position: 100% 97.5%;
}

#about_title {
  font-size: 4.5rem;
}

#about_text {
  color: var(--fontColor2);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#resume_link {
  padding-top: 0.5rem;
}

#separator {
  border: 1px solid var(--white);
  margin: 13.063rem 1.5rem 0 1.5rem;
}

#abilities {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 1.438rem 2.346rem 1.438rem;
}

.skill_list {
  list-style: none;
  text-align: center;
}

.skill_title {
  padding: 0.5rem 0.75rem;
  font-size: 2rem;
}

.skill_name {
  padding: 0.75rem 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.167rem;
}

.about_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#diamond {
  transform: rotate(-45deg);
}

#languages {
  padding: 0 3.236rem 1.5rem 3.236rem;
}

#frameworks {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

#skills {
  padding: 0 1.938rem 2.375rem 1.938rem;
}

/* Contact Me */
#contact {
  padding: 4.313rem 1.438rem 4.875rem 1.438rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#contact-title {
  text-align: center;
  margin-bottom: 3.625rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #172b4d;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#contact-form::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.938rem;
  color: #979493;
}

.form-elm {
  width: 100%;
  border: none;
}

.form-input {
  border-bottom: solid 0.063rem #bbb;
  padding: 0.938rem 1rem;
}

#txt-area {
  background: #fbf8f7;
  padding: 0.75rem;
}

#txt-area::placeholder {
  font-style: italic;
}

#submit-btn {
  align-self: center;
  cursor: pointer;
  border: none;
}

/* Footer */
#foot-section {
  border-top: solid 0.0633rem #bbb;
  padding: 1rem auto 0 auto;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.313rem;
}

hr {
  height: 0.313rem;
  width: 8.375rem;
  background: #0d151e;
  border-radius: 0.625rem;
  margin: 0 auto 0.688rem auto;
}

/*********** Mobile-Menu pop-up ***********/
#mobile-menu-container {
  background: #e5e5e5;
  position: fixed;
  width: 100%;
  height: 100vh;
  margin-top: 46px;
}

#mobile-menu {
  background: #3c3a39;
  color: #fff5e1;
  display: block;
  height: 82.5%;
  padding: 0 1.5rem;
}

#mobile-menu-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mobile-nav {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 0.0625rem solid #6f6c6b;
  padding: 1rem 0 1rem 1rem;
}

/*********** Details Pop-up Mobile ***********/

.desktop-only {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

.mobile-max {
  visibility: visible;
  position: static;
}

#popup-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 3.75rem 1rem 2.438rem 1rem;
  background: rgb(0, 0, 0, 80%);
}

#popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background: #dfe1e6;
  height: 100%;
  padding: 1rem;
}

.pop-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.pop-head > h3 {
  font: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.75rem;
}

.close-popup {
  padding: 0.875rem;
}

.pop-tech {
  border: 1px solid #979493;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #3c3a39;
  font-size: 0.813rem;
  padding: 0.625rem 0.75rem;
  margin-right: 0.5rem;
}

.big-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

.left-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popup-text > p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.popup-links {
  padding: 0.25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.pop-btn > a {
  padding: 0.75rem 1rem 0.75rem 0.75rem;
}

.pop-icon {
  translate: 0 0.125rem;
  margin-left: 1rem;
}

/*********** Desktop Styling - Small ***********/
@media screen and (min-width: 768px) {
  .mobile {
    visibility: hidden;
    position: absolute;
    left: 0;
  }

  .desktop {
    visibility: visible;
    position: static;
  }

  /****** Header ******/
  #toolbar {
    align-items: center;
  }

  #logo {
    font: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    position: relative;
    left: 8.875rem;
    animation-name: rotate;
    animation-duration: 3s;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    20% {
      transform: rotate(45deg);
    }

    40% {
      transform: rotate(22.5deg);
    }

    60% {
      transform: rotate(-22.5deg);
    }

    80% {
      transform: rotate(-45deg);
    }

    100% {
      transform: rotate(-22.5deg);
    }
  }

  #desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.938rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0 0.75rem;
    border-bottom: none;
  }

  #nav-to-mail {
    margin: 0 8.875rem 0 0.25rem;
    padding: 0.25rem 0.563rem;
  }

  /****** Hero Page ******/
  #headline {
    padding: 12rem 0.75rem 0 0;
    background-image: url(./images/desktop-hero-background.svg);
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  #desktop-headline {
    width: 35.375rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .heading {
    padding: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 3.5rem;
  }

  .icon_container {
    padding-left: 2rem;
    margin: 1rem 0 0.5rem 0;
  }

  .social_icons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }

  .social_icons :hover {
    translate: 1rem 0;
  }

  /****** Projects ******/

  /* Featured Project */
  .title {
    margin: 7.5rem 9.594rem 0 9.594rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
  }

  #feat_img_desktop {
    margin: 0;
    width: 100%;
    height: auto;
  }

  #work_title {
    margin-right: 1.5rem;
    color: #091e42;
    white-space: nowrap;
  }

  #divider {
    padding-top: 0.5rem;
    width: 100%;
  }

  #featured_project {
    margin: 7.125rem 4rem 2rem 4rem;
    display: flex;
    gap: 1.5rem;
  }

  /* Project Grid */
  #projects_grid {
    margin: 8 auto 8.125rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr fr;
    gap: 2.313rem 1.5rem;
  }

  .art {
    padding-top: 11.125rem;
  }

  .healthcare {
    padding-top: 11.125rem;
    background-image: url(./images/healthcare-card.svg);
  }

  .website {
    padding-top: 13.188rem;
    background-image: url(./images/website-card.svg);
  }

  .grid_card:hover {
    background-image: url(./images/desktop-card-hover.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .grid_card:hover .work {
    display: none;
  }

  .grid-project-link {
    visibility: hidden;
    position: absolute;
    left: 0;
  }

  .grid_card:hover .grid-project-link {
    visibility: visible;
    position: static;
  }

  /* Abilities */

  #abilities {
    padding: 0;
    margin: 0;
    padding-top: 8.625rem;
  }

  .skill {
    display: flex;
    flex-direction: row;
  }

  .skill_list {
    text-align: left;
  }

  .technologies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.75rem 0 0;
    gap: 8px;
  }

  .about_flex {
    justify-content: flex-start;
  }

  #frameworks {
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin: 0 2.5rem;
  }

  /* Contact Me */
  #contact {
    padding: 8.125rem 8.875rem 6rem 8.438rem;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  #contact-title {
    text-align: left;
    width: 455px;
    height: 256px;
  }

  #contact-form {
    width: 100%;
  }

  #submit-btn {
    align-self: flex-start;
  }

  /* Footer */
  #footer {
    padding: 0;
    margin: 0;
  }

  #footer-icons {
    flex-direction: row;
  }

  #footer-icons :hover {
    translate: 0 -1rem;
  }

  /*********** Details Pop-up Desktop-Small ***********/

  #popup {
    align-items: flex-start;
    gap: 0;
  }

  .popTech {
    margin-bottom: 2.5rem;
  }

  .pop-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75rem;
    width: 100%;
  }

  .pop-head > h3 {
    font: 'Crete Round', sans-serif;
    font-weight: 400;
  }

  .big-flex {
    flex-direction: row;
    gap: 1.563rem;
    align-items: start;
  }

  .popup-text > p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #344563;
  }
}

/*********** Desktop Styling - Large ***********/
@media screen and (min-width: 1200px) {
  /****** Projects ******/

  /* Featured Project */
  #featured_project {
    margin: 7.125rem 7.375rem 1.5rem 7.375rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  #featured_project_right_block {
    margin-bottom: 6.25rem;
  }

  /* Project Grid */
  #projects_grid {
    margin: 0 8.938rem 8.125rem 8.938rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* About Me */
  .about_me {
    padding: 0 1.5rem;
  }

  #info {
    margin: 0;
    padding-top: 8.125rem;
    background-image: url(./images/about_me_desktop.svg);
    background-position: 100% 25%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  #about_title {
    padding-left: 8.875rem;
    padding-right: 45.75rem;
    margin: 0;
  }

  #about_text {
    padding-left: 8.875rem;
    margin-right: 45.75rem;
    line-height: 32px;
  }

  #resume_link {
    margin-left: 8.875rem;
    margin-right: 45.75rem;
  }

  #separator {
    margin: 8.688rem 8.875rem 0 8.875rem;
  }

  /* Abilities */

  #languages {
    padding: 0 3.236rem 1.5rem 0;
  }

  #frameworks {
    margin: 0 9.5rem;
  }

  /*********** Details Pop-up Mobile ***********/
  .desktop-only {
    visibility: visible;
    position: static;
  }

  .mobile-max {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  #popup-container {
    padding: 7rem 8.875rem 5rem 8.875rem;
  }

  #popup {
    height: 39.438rem;
  }

  .popup-text {
    margin-bottom: 4.6rem;
  }

  .popup-links {
    justify-content: flex-start;
    gap: 0.75rem;
  }
}
