* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --headColor:#3C3A39;
  --mainColor:#1C1A19;
  --accentColor1:#FFF5E1;
  --accentColor2:#FF6B00;
  --iconColor:#DBD8D7;
  --white:#FFFFFF;
  font-family: 'Roboto','Crete Round','Poppins', sans-serif;
}

